h1 {
  display: flex;
  justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
}

#scoreboard {
display: flex;
justify-content: space-evenly;
background: rgb(2,0,36);
background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
width: 80vh;
height: 50vh;
}
