* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  overflow: hidden;

  display: grid;
  /* grid-template-rows: 30px 150px 400px 30px; 
  grid-template-columns: 500px;
  grid-template-areas:
    "hd"
    "side"
    "main"
    "ft"; */

  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 30vw 70vw;
  grid-template-areas:
    "hd hd"
    "side main"
    "ft ft";
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  background-color: aqua;
}

#header {
  grid-area: hd;
}
#sidebar {
  grid-area: side;
}
#content {
  grid-area: main;
}
#footer {
  grid-area: ft;
}
