#meme {
  background-color: black;
  width: 50%;
  margin-left: 25%;
  padding-bottom: 1%;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
p {
  color: white;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
}

#image {
  border: 5px solid white;
  width: 80%;
  margin-left: 8%;
  margin-top: 20px;
}

body {
  background-color: black;
}
